SERVER_PORT=
SPRING_PROFILES_ACTIVE=

# DB
DB_DRIVER=
DB_USERNAME=
DB_PASSWORD=
DB_URL=

# Other Applications
USER_SERVICE_URL=
ORDER_SERVICE_URL=
PRODUCT_SERVICE_URL=
PAYMENT_SERVICE_URL=

# 쿠버네티스
NAMESPACE=
IMAGE=