spring:
  application:
    name: "order-service"
  profiles:
    active: ${ORDER_PROFILE:dev}

management:
  endpoints:
    web:
      exposure:
        include: health, info
  endpoint:
    health:
      show-details: never

logging:
  level:
    root: INFO
